.Weather {
  border: 1px solid rgb(209, 209, 209);
  padding: 20px;
  border-radius: 8px;
  background: rgb(211, 210, 210);
}
.cityName {
  font-size: 50px;
  font-weight: bold;
  margin-top: 13px;
  padding: 0px;
}
.date {
  font-size: 20px;
  margin-top: 0px;
  padding: 0px;
  font-weight: bold;
}
.weatherType {
  font-size: 16px;
  margin-top: 0px;
  padding: 0px;
  font-weight: bold;
  margin-bottom: 40px;
}
.weatherImage {
  width: 150px;
  display: block;
  margin: 0px auto;
}
.temp {
  text-align: center;
  margin: 40px auto;
  padding: 0px;
}
.temp a {
  text-decoration: none;
}
.Degrees {
  font-size: 75px;
  margin: 0px;
  padding: 0px 0px 0px 50px;
  font-weight: bold;
}
.cilsiuse {
  position: relative;
  top: -50px;
  font-size: 17px;
}

.TodayImg {
  display: flex;
  justify-content: center;
}
.Today {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.Water {
  width: 15px;
  display: block;
  margin: 0 auto;
}
.Percentage {
  text-align: center;
}
.MaxMindegree {
  width: 32px;
  display: block;
  margin: 0 auto;
}
.MaxMin {
  display: flex;
  justify-content: center;
}
.Min {
  opacity: 0.8;
}

.windy {
  width: 30px;
  display: block;
  margin: 0 auto;
}
.Speed {
  text-align: center;
}
.Speedwind {
  font-size: 17px;
}
.KilometerH {
  font-size: 10px;
}
.Day {
  text-align: center;
  font-size: 13px;
}
.dayImg {
  display: block;
  margin: 0 auto;
  width: 50px;
}
.DayDegree {
  text-align: center;
  font-size: 13px;
}
