:root {
  --color: #d3d6db;
}

.App {
  max-width: 450px;
  margin: 0 auto;
}
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #9f1e49;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.Weather {
  border: 1px solid rgb(209, 209, 209);
  padding: 20px;
  border-radius: 8px;
  background-color: #385170;
}
.cityName {
  font-size: 45px;
  font-weight: bold;
  margin-top: 13px;
  padding: 0px;
  color: var(--color);
}
.date {
  font-size: 18px;
  margin-top: 0px;
  padding: 0px;
  font-weight: bold;
  color: var(--color);
}
.weatherType {
  font-size: 14px;
  margin-top: 0px;
  padding: 0px;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--color);
}
.weatherImage {
  width: 130px;
  display: block;
  margin: 0px auto;
}
.temp {
  text-align: center;
  margin: 30px auto;
  padding: 0px;
}
.temp a {
  text-decoration: none;
}
.Degrees {
  font-size: 75px;
  margin: 0px;
  padding: 0px 0px 0px 50px;
  font-weight: bold;
  color: var(--color);
}
.cilsiuse {
  position: relative;
  top: -50px;
  font-size: 17px;
  color: var(--color);
}
.cilsiuse a {
  color: #f83e4b;
}
.TodayImg {
  display: flex;
  justify-content: center;
  color: var(--color);
}
.Today {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.Water {
  width: 15px;
  display: block;
  margin: 0 auto;
  color: var(--color);
}
.Percentage {
  text-align: center;
  color: var(--color);
}
.MaxMindegree {
  width: 32px;
  display: block;
  margin: 0 auto;
  color: var(--color);
}
.MaxMin {
  display: flex;
  justify-content: center;
  color: var(--color);
}
.Min {
  opacity: 0.8;
}

.windy {
  width: 30px;
  display: block;
  margin: 0 auto;
  color: var(--color);
}
.Speed {
  text-align: center;
  color: var(--color);
}
.Speedwind {
  font-size: 17px;
  color: var(--color);
}
.KilometerH {
  font-size: 10px;
  color: var(--color);
}
.line {
  color: var(--color);
}
.Day {
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--color);
}
.dayImg {
  display: block;
  margin: 0 auto;
  width: 50px;
}
.DayDegree {
  text-align: center;
  font-size: 15px;
  color: var(--color);
}
footer {
  font-size: 12px;
}
@media (max-width: 600px) {
  .cityName {
    font-size: 30px;
  }
  .date {
    font-size: 15px;
  }
  .weatherType {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .Degrees {
    font-size: 45px;
  }
  .cilsiuse {
    top: -30px;
  }
  .temp {
    margin: 20px;
  }
  .Water {
    width: 10px;
  }
  .MaxMindegree {
    width: 25px;
  }
  .windy {
    width: 23px;
  }
  .Day {
    font-size: 10px;
  }
  .DayDegree {
    font-size: 12px;
  }
  .styled {
    padding: 4px 8px;
    font-size: 13px;
  }
  .Today {
    margin-bottom: 20px;
  }
}
